<!doctype html>
<html lang='en'>
    <head>
        <title>Flight Leads</title>
        <link href='vuetify.min.css' rel='stylesheet' types='text/css'>
        <link href='style.css' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    </head>

    <body>
        <div id='app'>
            <v-app dark v-cloak>

              <v-parallax
              src="drone3.jpg"
              height="1000"
              jumbotron
              >

                <v-toolbar fixed>
                  <img style='padding:30px; margin:15px;' width="150" height="150" src="./FLCRM_V2_White-08.png" alt="avatar">
                </v-toolbar>

                <div style='height:200px;'></div>
                <div style='height:200px;'></div>

                <v-container>
                    <v-toolbar>





                        <v-toolbar-title>Upcoming Flights!</v-toolbar-title>

                        <v-spacer></v-spacer>

                        <!-- <v-layout wrap align-right> -->

                          <v-toolbar-items style="align-items: space-around">
                              <v-spacer></v-spacer>
                              <v-flex style="margin:'10px'" xs12 sm3 d-flex>

                          <v-toolbar-items>


                                <v-select

                                style='width:130px'
                                  :items="dateFilters"
                                  label="Date"
                                ></v-select>


                              </v-flex>
                              <v-flex style="margin:'10px'" xs12 sm3 d-flex>



                               <v-select

                                style='width:130px'

                                  :items="typeFilters"
                                  label="Type"
                                ></v-select>


                              </v-flex>
                              <v-flex style="margin:'10px'" xs12 sm3 d-flex>


                                <v-select

                                style='width:130px'
                                  :items="statusFilters"
                                  label="Status"
                                ></v-select>


                          </v-toolbar-items>
                    </v-toolbar>

                    <v-layout row wrap>
                            <v-flex xs12 md4 sm6 v-for='lead in leads'>
                              <v-card style='margin:10px;' >

                                <v-card-title primary-title>
                                  <div>
                                    <h2 class="headline mb-0">{{ lead.name }}</h2>
                                    <h3>{{ formatDate(lead.date) }}<br>{{ lead.time }}</h3>
                                    <h4 class='font-weight-light'>{{ lead.address }}</h4>
                                    <h4 class='font-weight-light'>{{ lead.type }}</h4>

                                      <v-flex>
                                      <v-icon @click="lead.show = !lead.show" style='font-size:2rem;'>{{ lead.show ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</v-icon>
                                    </v-flex>

                                  </div>
                                </v-card-title>

                                <v-slide-y-transition>
                                    <v-card-text v-show="lead.show">


                                        <h3>Contact Info:</h3>

                                        <h4 class='font-weight-light'>{{ lead.phone }}</h4>
                                        <h4 class='font-weight-light'>{{ lead.email }}</h4>
                                        <br>
                                        <h3>Notes:</h3>
                                        <h4 class='font-weight-light'>{{ lead.notes }}</h4>
                                        <v-card-actions>



                                          <v-btn flat color="blue" @click='setEditingId(lead.id)'>edit</v-btn>
                                          <v-btn flat color="blue" @click='deleteLead(lead)'>delete</v-btn>


                                        </v-card-actions>
                                    </v-card-text>

                                </v-slide-y-transition>
                              </v-card>
                            </v-flex>
                          </v-layout>


               </v-container>

        <v-container>
          <v-layout row justify-center>

            <v-dialog v-model="formDialog" persistent max-width="500px">


                <v-btn slot="activator" color="primary" fixed bottom right fab dark>
                  <v-icon style='padding-top:30%;'>add</v-icon>
                </v-btn>


              <v-card>
                <v-card-title>
                  <span class="headline">{{ changeFormMenu }}</span><v-spacer></v-spacer><v-icon class='font-weight-medium' @click="close()">close</v-icon>
                </v-card-title>
                <v-card-text>
                  <v-container grid-list-md>
                    <v-layout wrap>
                      <v-flex xs12>

                        <v-text-field label="Full Name" :rules="nameRules" required></v-text-field>
                      </v-flex>
                        <v-flex xs12 sm6>
                            <v-menu

                              ref="menu2"
                              :close-on-content-click="false"
                              v-model="menu2"
                              :nudge-right="40"
                              :return-value.sync="date"
                              lazy
                              transition="scale-transition"
                              offset-y
                              full-width
                              min-width="290px"
                            >
                              <v-text-field

                                slot="activator"
                                v-model="date"
                                label="Date of Flight"
                                prepend-icon="event"
                                readonly
                              ></v-text-field>
                              <v-date-picker required v-model="date" @input="$refs.menu2.save(date)"></v-date-picker>

                            </v-menu>
                          </v-flex>
                        <v-flex xs12 sm6>
                          <v-menu


                            ref="startTimeMenu"

                            :close-on-content-click="false"
                            v-model="startTimeMenu"
                            :nudge-right="40"
                            :return-value.sync="startTime"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field

                              slot="activator"
                              v-model="startTime"
                              label="Time of Flight"
                              prepend-icon="access_time"
                              readonly
                            ></v-text-field>
                            <v-time-picker
                              dark
                              format='24hr'
                              v-model="startTime"
                              @input="$refs.startTimeMenu.save(startTime)"
                              :allowed-minutes="allowedMinutes"
                              :allowed-hours="allowedHours"
                              required
                            >
                            </v-time-picker>
                          </v-menu>
                      </v-flex>
                      <v-flex xs12 sm6>
                          <v-menu
                            ref="endTimeMenu"
                            :close-on-content-click="false"
                            v-model="endTimeMenu"
                            :nudge-right="40"
                            :return-value.sync="endTime"
                            lazy
                            transition="scale-transition"
                            offset-y
                            full-width
                            min-width="290px"
                          >
                            <v-text-field
                              slot="activator"
                              v-model="endTime"
                              label="End Time"
                              prepend-icon="access_time"
                              readonly
                            ></v-text-field>
                            <v-time-picker
                              dark
                              format='24hr'
                              v-model="endTime"
                              @input="$refs.endTimeMenu.save(endTime)"
                              :allowed-minutes="allowedMinutes"
                              :allowed-hours="allowedHours"
                              required
                            >
                            </v-time-picker>
                          </v-menu>
                      </v-flex>

                      <v-flex xs12>

                        <v-text-field label="Email" v-model="email" :rules="emailRules" required></v-text-field>
                      </v-flex>
                      <v-flex xs12>
                        <v-text-field label="Phone Number" v-model="phone" placeholder="(123) 456-7890" :rules="phoneRules" required></v-text-field>

                      </v-flex>
                      <v-flex xs12>
                        <v-text-field label="Address" type="address" v-model="address" required></v-text-field>
                      </v-flex>

                      <v-flex xs12 sm6>
                        <v-autocomplete
                          :items=typeItems
                          label="Type"

                          chips
                        ></v-autocomplete>
                      </v-flex>
                      <v-flex xs12>
                        <v-textarea rows=1 auto-grow label="Notes:" v-model="notes"></v-textarea>
                      </v-flex>
                    </v-layout>
                  </v-container>
                  <small>*indicates required field</small>
                </v-card-text>
                <v-card-actions>

                  <v-btn color="blue darken-1" flat @click="close()">Close</v-btn>
                  <v-btn color="blue darken-1" flat @click="saveLead()">{{ changeFormSubmit }}</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-layout>
          </v-container>

          <div class="text-xs-center">
            <v-dialog
              v-model="errorDialog"
              width="500"
            >
              <v-card>
                <v-card-title
                  class="headline red lighten-2"
                  primary-title
                >
                  Invalid Time Selected
                </v-card-title>
                <v-card-text>
                  The time you have selected has already been taken. Please select another time.
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    color="primary"
                    flat
                    @click="errorDialog = false"
                  >
                    Okay
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </div>
          </v-parallax>

          <v-footer>Neil was here</v-footer>
        </v-app>
    </div>





        <script src='vue.js'></script>
        <script src='vuetify.js'></script>
        <script src='moment.min.js'></script>
        <script src='main.js' type="module"></script>
    </body>
</html>
