* {
  box-sizing: border-box;
}

.v-parallax {
  min-height: 1000px;
}



.v-alert {
  height: 20px;
}

.v-input__slot {
  margin:0px;
}

.grid-list-md {
  padding-top:0px;
}

[ v-cloak ] {
  display:none;
}

.v-card__title {
  padding-bottom:0px;
}

.v-card__text {
  padding-top:0px;
}

.v-card__actions {
  padding:0px;
}

.v-toolbar .v-input {
    margin: 10px;
    margin-top: 18px;

  }
.v-card {
  filter: drop-shadow(0 0 0.25rem black);
}
